@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

html {
    min-height: 100%;
    background: url("../images/Tree_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Exo', sans-serif;
}

.logo, img{
    margin: 15px 0px 0px 15px;
    height: 33%;
    width: 33%;
}

.error{
    background-color: #383838;
    color: #d7d7d7;
    width: 75%;
    height: fit-content;
    margin: 10vh auto;
}

.error-text{
    text-align: center;
    font-size: xx-large;
}

a{
    text-decoration: none;
    color:#d7d7d7;
}

a:hover{
    color:#a3a3a3;
}