/* Full Page styling */

@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

/* This ensures that the image takes up the whole of the memory card div */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: url("../images/Tree_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Styling relevant to game info section that provides user with information and link back to home page */
.game-info {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    padding-top: 5px;
    font-size: 26px;
    margin: auto;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}

/*Styling relevant for Move tracking div */
.moves {
    width: calc(33% - 5px);
    height: 50px;
    background: #5DFE9E;
    font-size: 75%;
    margin: auto;
    border-radius: 5px;
    border: 5px solid #0b7435; 
}

/* Styling relevant for div that links back to home */
.home {
    width: calc(33% - 5px);
    height: 50px;
    background: #5DFE9E;
    margin: auto;
    border-radius: 5px;
    border: 5px solid #0b7435; 
    color: #000000;
}

.home:hover {
    transform: scale(.97);
    transition: transform .2s;
}

.home a {
    text-decoration: none;
    color: inherit;
}

/* Styling relevant for div which tracks user time during game */
.timer {
    width: calc(33% - 5px);
    height: 50px;
    background: #5DFE9E;
    margin: auto;
    font-size: 50%;
    border-radius: 5px;
    border: 5px solid #0b7435; 
}

/* Ensures img takes up max space in memory card */
img{
    width: max-content;
    height: max-content;
}

/* Styling relevant to whole memory game */
.memory-game {
    width: 90vw;
    height: 80vh;
    padding-top: 20px;
    margin: 10vh 5vw;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

/* Styling relevant to memory cards */
.memory-card{
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/* This styling allows the images to behave as though they were cards with two faces by overlaying them and hiding one face */
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #000000;
    backface-visibility: hidden;
}

/* This styling rotates the image to the right direction after the flip event has occured */
.front-face {
    transform: rotateY(180deg);
}

/* This styling is for the modal that will cover the whole page, it is hidden by default */
.bg-modal {
    background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
}

/* The below styling is relevant to the content of the modal once it has been made visible */
.modal-content {
    width: 75vw;
    height: 75vh;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 2vh;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    margin: 20px 20px;
}

.modal-image {
    height: 20vh;
    width: 10vw;
}

.modal-reload{
    margin: 25px auto;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 10%;
    background-color: #341883;
    color:#ffff;
    border-radius: 10px;
}

.modal-home{
    margin: 25px auto;
    text-align: center;
    width: 50%;
    height: 10%;
    background-color: #341883;
    color:#ffff;
    border-radius: 10px;
}

/*Media query for larger devices*/

@media only screen and (min-width: 450px) {
    .memory-game {
        width: 640px;
        height: 640px;
        padding-top: 20px;
        margin: 10vh auto;
        display: flex;
        flex-wrap: wrap;
        perspective: 1000px;
    }
}