/*Full page styling*/

@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

html {
    min-height: 100%;
    background: linear-gradient(180deg, #341883 69.27%, #000000 100%);
    font-family: 'Exo', sans-serif;
}

/*Styling for header and header elements*/

header{
    display: flex;
    justify-content: space-between;
    color: #d7d7d7;
}

.logo, img{
    margin: 15px 0px 0px 15px;
    height: 200px;
    width: 200px;
    
}

.banner, ul{
    display: inline-flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 30px;
    font-weight: 800;
}

.banner, li{
    padding-right: 40px;
    padding-top: 20px;
}

.banner, a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#a3a3a3;
}
/*Styling for hero text*/

.hero-text{
    color: #d7d7d7;
    font-weight: 600;
    font-size: 34px;
    height: 50px;
    padding: 20px;
    text-align: center;
    line-height: 50px;
}

/*Styling for main body containers*/

section{
    display: flex;

}

.menu{
    margin: 125px auto;
    width: 1024px;
    height:300px;
    display:grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 100px;
    overflow: auto;
}

.menu-card {
    padding:20px;
    border-radius:10px;
    color:#202020;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    font-size:24px;
    font-weight: 600;
    font-family:"Exo", sans-serif;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

.front-face,
.back-face {
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.menu-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    transform: rotateY(180deg);
}

.play-div{
    background-color: #F060B7;
}

.about-div{
    background-color: #FF9B25;
}

.stats-div{
    background-color: #5DFE9E;
}

.contact-div{
    background-color: #70DDFF;
}

.social-div{
    width: 50%;
    height: 100px;
    margin: 30px auto;
    background-color: #a3a3a3;
}

.social-div a:hover{
    color: #3e169d;
}